# Build products
DerivedData/
doxygen/html

# Xcode workspace
Little Go.xcworkspace/

# Xcode project
Little Go.xcodeproj/

# Firebase/Crashlytics files
GoogleService-Info.plist

# CocoaPods files
Pods/

# Folders for local/manual storage of beta test .ipa bundles,
# crash reports and bug reports
dist/
crash/
bugreport/

# Other files
3rdparty/
.DS_Store
