# Build products
DerivedData/
build/
doxygen/html

# Xcode workspace
Little Go.xcworkspace/xcuserdata

# Xcode project
Little Go.xcodeproj/*.pbxuser
Little Go.xcodeproj/*.mode1v3
Little Go.xcodeproj/xcuserdata
# Xcode creates this hidden workspace when someone opens just the
# project (top-level .xcodeproj folder) instead of the workspace
# (top-level .xcworkspace folder). Because the hidden workspace never
# contains anything but the enclosing project, it can be safely ignored.
Little Go.xcodeproj/project.xcworkspace

# Firebase/Crashlytics files
GoogleService-Info.plist

# CocoaPods files
Pods/

# Folders for local/manual storage of beta test .ipa bundles,
# crash reports and bug reports
dist/
crash/
bugreport/

# User manual file. This file is an artifact produced by the separate
# user manual project, it is not versioned within this project.
resource/littlego-usermanual.zip

# Other files
3rdparty/install/
.DS_Store
