<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserDefaultsVersionRegistrationDomain</key>
	<integer>10</integer>
	<key>LoggingEnabled</key>
	<false/>
	<key>BoardView</key>
	<dict>
		<key>MarkLastMove</key>
		<true/>
		<key>DisplayCoordinates</key>
		<false/>
		<key>DisplayPlayerInfluence</key>
		<false/>
		<key>MoveNumbersPercentage</key>
		<real>0</real>
		<key>PlaySound</key>
		<false/>
		<key>Vibrate</key>
		<false/>
	</dict>
	<key>NewGame</key>
	<dict>
		<key>GameType</key>
		<integer>1</integer>
		<key>GameTypeLastSelected</key>
		<integer>1</integer>
		<key>HumanPlayer</key>
		<string>F1017CAF-BCF5-406F-AC4C-5B4F794C006C</string>
		<key>ComputerPlayer</key>
		<string>766CDA23-0C58-480B-A8B5-1F34BDA41677</string>
		<key>ComputerPlaysWhite</key>
		<true/>
		<key>HumanBlackPlayer</key>
		<string>F1017CAF-BCF5-406F-AC4C-5B4F794C006C</string>
		<key>HumanWhitePlayer</key>
		<string>F1017CAF-BCF5-406F-AC4C-5B4F794C006C</string>
		<key>ComputerPlayerSelfPlay</key>
		<string>766CDA23-0C58-480B-A8B5-1F34BDA41677</string>
		<key>BoardSize</key>
		<integer>9</integer>
		<key>Handicap</key>
		<integer>0</integer>
		<key>Komi</key>
		<real>7.5</real>
		<key>KoRule</key>
		<integer>0</integer>
		<key>ScoringSystem</key>
		<integer>0</integer>
		<key>LifeAndDeathSettlingRule</key>
		<integer>0</integer>
		<key>DisputeResolutionRule</key>
		<integer>0</integer>
		<key>FourPassesRule</key>
		<integer>0</integer>
	</dict>
	<key>PlayerList</key>
	<array>
		<dict>
			<key>UUID</key>
			<string>F1017CAF-BCF5-406F-AC4C-5B4F794C006C</string>
			<key>Name</key>
			<string>Anonymous</string>
			<key>IsHuman</key>
			<true/>
			<key>Statistics</key>
			<dict>
				<key>GamesPlayed</key>
				<integer>0</integer>
				<key>GamesWon</key>
				<integer>0</integer>
				<key>GamesLost</key>
				<integer>0</integer>
				<key>GamesTied</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>UUID</key>
			<string>766CDA23-0C58-480B-A8B5-1F34BDA41677</string>
			<key>Name</key>
			<string>Fuego</string>
			<key>IsHuman</key>
			<false/>
			<key>GtpEngineProfileUUID</key>
			<string>5154D01A-1292-453F-B767-BE7389E3589F</string>
			<key>Statistics</key>
			<dict>
				<key>GamesPlayed</key>
				<integer>0</integer>
				<key>GamesWon</key>
				<integer>0</integer>
				<key>GamesLost</key>
				<integer>0</integer>
				<key>GamesTied</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>UUID</key>
			<string>143893E4-6B81-40AD-93A7-15425B95BC14</string>
			<key>Name</key>
			<string>Fuego (weak)</string>
			<key>IsHuman</key>
			<false/>
			<key>GtpEngineProfileUUID</key>
			<string>D341C2B1-94D5-4665-8502-304E55FBA119</string>
			<key>Statistics</key>
			<dict>
				<key>GamesPlayed</key>
				<integer>0</integer>
				<key>GamesWon</key>
				<integer>0</integer>
				<key>GamesLost</key>
				<integer>0</integer>
				<key>GamesTied</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
	<key>GtpEngineProfileList</key>
	<array>
		<dict>
			<key>UUID</key>
			<string>5154D01A-1292-453F-B767-BE7389E3589F</string>
			<key>Name</key>
			<string>Default profile</string>
			<key>Description</key>
			<string>This profile cannot be deleted. It is used for games where both players are human. By default this profile uses maximum playing strength.</string>
			<key>FuegoMaxMemory</key>
			<integer>32</integer>
			<key>FuegoThreadCount</key>
			<integer>1</integer>
			<key>FuegoPondering</key>
			<true/>
			<key>FuegoMaxPonderTime</key>
			<integer>300</integer>
			<key>FuegoReuseSubtree</key>
			<true/>
			<key>FuegoMaxThinkingTime</key>
			<integer>10</integer>
			<key>FuegoMaxGames</key>
			<integer>-1</integer>
			<key>AutoSelectFuegoResignMinGames</key>
			<true/>
			<key>FuegoResignMinGames</key>
			<integer>5000</integer>
			<key>FuegoResignThreshold</key>
			<array>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>8</integer>
				<integer>8</integer>
				<integer>8</integer>
			</array>
		</dict>
		<dict>
			<key>UUID</key>
			<string>D341C2B1-94D5-4665-8502-304E55FBA119</string>
			<key>Name</key>
			<string>Weak</string>
			<key>Description</key>
			<string>This profile uses minimal playing strength.</string>
			<key>FuegoMaxMemory</key>
			<integer>32</integer>
			<key>FuegoThreadCount</key>
			<integer>1</integer>
			<key>FuegoPondering</key>
			<false/>
			<key>FuegoMaxPonderTime</key>
			<integer>300</integer>
			<key>FuegoReuseSubtree</key>
			<false/>
			<key>FuegoMaxThinkingTime</key>
			<integer>10</integer>
			<key>FuegoMaxGames</key>
			<integer>500</integer>
			<key>AutoSelectFuegoResignMinGames</key>
			<true/>
			<key>FuegoResignMinGames</key>
			<integer>450</integer>
			<key>FuegoResignThreshold</key>
			<array>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>8</integer>
				<integer>8</integer>
				<integer>8</integer>
			</array>
		</dict>
		<dict>
			<key>UUID</key>
			<string>1051CE0D-D8BA-405C-A93D-7AA140683D11</string>
			<key>Name</key>
			<string>Strong</string>
			<key>Description</key>
			<string>This profile uses maximum playing strength, doubles the memory used by the default profile, and makes use of a second processor core.</string>
			<key>FuegoMaxMemory</key>
			<integer>64</integer>
			<key>FuegoThreadCount</key>
			<integer>2</integer>
			<key>FuegoPondering</key>
			<true/>
			<key>FuegoMaxPonderTime</key>
			<integer>300</integer>
			<key>FuegoReuseSubtree</key>
			<true/>
			<key>FuegoMaxThinkingTime</key>
			<integer>10</integer>
			<key>FuegoMaxGames</key>
			<integer>-1</integer>
			<key>AutoSelectFuegoResignMinGames</key>
			<true/>
			<key>FuegoResignMinGames</key>
			<integer>5000</integer>
			<key>FuegoResignThreshold</key>
			<array>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>5</integer>
				<integer>8</integer>
				<integer>8</integer>
				<integer>8</integer>
			</array>
		</dict>
	</array>
	<key>StarPoints</key>
	<dict>
		<key>19</key>
		<string>D4,K4,Q4,D10,K10,Q10,D16,K16,Q16</string>
		<key>17</key>
		<string>D4,J4,O4,D9,J9,O9,D14,J14,O14</string>
		<key>15</key>
		<string>D4,H4,M4,D8,H8,M8,D12,H12,M12</string>
		<key>13</key>
		<string>D4,G4,K4,D7,G7,K7,D10,G10,K10</string>
		<key>11</key>
		<string>C3,J3,C9,J9</string>
		<key>9</key>
		<string>C3,G3,C7,G7</string>
	</dict>
	<key>ArchiveView</key>
	<dict>
		<key>SortCriteria</key>
		<integer>0</integer>
		<key>SortAscending</key>
		<true/>
	</dict>
	<key>GtpLogView</key>
	<dict>
		<key>GtpLogSize</key>
		<integer>100</integer>
		<key>GtpLogViewFrontSideIsVisible</key>
		<true/>
	</dict>
	<key>GtpCannedCommands</key>
	<array>
		<string>version</string>
		<string>list_commands</string>
		<string>get_komi</string>
		<string>list_handicap</string>
		<string>list_moves</string>
		<string>list_stones</string>
		<string>showboard</string>
	</array>
	<key>Scoring</key>
	<dict>
		<key>ScoreWhenGameEnds</key>
		<true/>
		<key>AskGtpEngineForDeadStones</key>
		<true/>
		<key>MarkDeadStonesIntelligently</key>
		<false/>
		<key>InconsistentTerritoryMarkupType</key>
		<integer>0</integer>
		<key>ScoreMarkMode</key>
		<integer>0</integer>
	</dict>
	<key>BoardPosition</key>
	<dict>
		<key>DiscardFutureMovesAlert</key>
		<true/>
		<key>MarkNextMove</key>
		<true/>
	</dict>
	<key>CrashReportActivated</key>
	<true/>
	<key>AutomaticallySendCrashReports</key>
	<false/>
	<key>CrashDataContactAllowKey</key>
	<false/>
	<key>CrashDataContactEmailKey</key>
	<string></string>
	<key>TabOrder</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>4</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
	</array>
	<key>AdditiveKnowledgeMemoryThreshold</key>
	<integer>768</integer>
	<key>VisibleUIArea</key>
	<integer>0</integer>
	<key>MagnifyingGlassEnableMode</key>
	<integer>2</integer>
	<key>MagnifyingGlassAutoThreshold</key>
	<integer>30</integer>
	<key>MagnifyingGlassVeerDirection</key>
	<integer>0</integer>
	<key>MagnifyingGlassDistanceFromMagnificationCenter</key>
	<real>100</real>
</dict>
</plist>
