<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PlayView</key>
	<dict>
		<key>MarkLastMove</key>
		<true/>
		<key>DisplayCoordinates</key>
		<false/>
		<key>DisplayMoveNumbers</key>
		<false/>
		<key>PlaySound</key>
		<false/>
		<key>Vibrate</key>
		<false/>
		<key>BackgroundColor</key>
		<string>ffffff</string>
		<key>BoardColor</key>
		<string>f3ac5f</string>
		<key>BoardOuterMarginPercentage</key>
		<real>0.02</real>
		<key>BoardInnerMarginPercentage</key>
		<real>0.02</real>
		<key>LineColor</key>
		<string>000000</string>
		<key>BoundingLineWidth</key>
		<integer>2</integer>
		<key>NormalLineWidth</key>
		<integer>1</integer>
		<key>StarPointColor</key>
		<string>000000</string>
		<key>StarPointRadius</key>
		<integer>3</integer>
		<key>StoneRadiusPercentage</key>
		<real>0.95</real>
		<key>CrossHairColor</key>
		<string>0000ff</string>
		<key>CrossHairPointDistanceFromFinger</key>
		<string>2</string>
	</dict>
	<key>NewGame</key>
	<dict>
		<key>BoardSize</key>
		<integer>6</integer>
		<key>BlackPlayer</key>
		<string>F1017CAF-BCF5-406F-AC4C-5B4F794C006C</string>
		<key>WhitePlayer</key>
		<string>766CDA23-0C58-480B-A8B5-1F34BDA41677</string>
		<key>Handicap</key>
		<integer>0</integer>
		<key>Komi</key>
		<real>6.5</real>
	</dict>
	<key>PlayerList</key>
	<array>
		<dict>
			<key>UUID</key>
			<string>F1017CAF-BCF5-406F-AC4C-5B4F794C006C</string>
			<key>Name</key>
			<string>Anonymous</string>
			<key>IsHuman</key>
			<true/>
			<key>Statistics</key>
			<dict>
				<key>GamesPlayed</key>
				<integer>0</integer>
				<key>GamesWon</key>
				<integer>0</integer>
				<key>GamesLost</key>
				<integer>0</integer>
				<key>GamesTied</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>UUID</key>
			<string>766CDA23-0C58-480B-A8B5-1F34BDA41677</string>
			<key>Name</key>
			<string>Fuego</string>
			<key>IsHuman</key>
			<false/>
			<key>Statistics</key>
			<dict>
				<key>GamesPlayed</key>
				<integer>0</integer>
				<key>GamesWon</key>
				<integer>0</integer>
				<key>GamesLost</key>
				<integer>0</integer>
				<key>GamesTied</key>
				<integer>0</integer>
			</dict>
			<key>GtpEngineSettings</key>
			<dict>
				<key>FuegoMaxMemory</key>
				<integer>64</integer>
				<key>FuegoThreadCount</key>
				<integer>1</integer>
				<key>FuegoPondering</key>
				<true/>
				<key>FuegoReuseSubtree</key>
				<true/>
			</dict>
		</dict>
	</array>
	<key>StarPoints</key>
	<dict>
		<key>19</key>
		<string>D4,K4,Q4,D10,K10,Q10,D16,K16,Q16</string>
		<key>17</key>
		<string>D4,J4,O4,D9,J9,O9,D14,J14,O14</string>
		<key>15</key>
		<string>D4,H4,M4,D8,H8,M8,D12,H12,M12</string>
		<key>13</key>
		<string>D4,G4,K4,D7,G7,K7,D10,G10,K10</string>
		<key>11</key>
		<string>C3,J3,C9,J9</string>
		<key>9</key>
		<string>C3,G3,C7,G7</string>
	</dict>
	<key>ArchiveView</key>
	<dict>
		<key>SortCriteria</key>
		<integer>0</integer>
		<key>SortAscending</key>
		<true/>
	</dict>
	<key>GtpLogView</key>
	<dict>
		<key>GtpLogSize</key>
		<integer>100</integer>
		<key>GtpLogViewFrontSideIsVisible</key>
		<true/>
	</dict>
	<key>GtpCannedCommands</key>
	<array>
		<string>version</string>
		<string>list_commands</string>
		<string>get_komi</string>
		<string>list_handicap</string>
		<string>list_moves</string>
		<string>list_stones</string>
		<string>showboard</string>
	</array>
</dict>
</plist>
