<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PlayView</key>
	<dict>
		<key>MarkLastMove</key>
		<false/>
		<key>DisplayCoordinates</key>
		<false/>
		<key>DisplayMoveNumbers</key>
		<false/>
		<key>PlaySound</key>
		<false/>
		<key>Vibrate</key>
		<false/>
		<key>BackgroundColor</key>
		<string>ffffff</string>
		<key>BoardColor</key>
		<string>f3ac5f</string>
		<key>BoardOuterMarginPercentage</key>
		<real>0.02</real>
		<key>BoardInnerMarginPercentage</key>
		<real>0.02</real>
		<key>LineColor</key>
		<string>000000</string>
		<key>BoundingLineWidth</key>
		<integer>2</integer>
		<key>NormalLineWidth</key>
		<integer>1</integer>
		<key>StarPointColor</key>
		<string>000000</string>
		<key>StarPointRadius</key>
		<integer>3</integer>
		<key>StoneRadiusPercentage</key>
		<real>0.95</real>
		<key>CrossHairColor</key>
		<string>0000ff</string>
		<key>CrossHairPointDistanceFromFinger</key>
		<string>2</string>
	</dict>
	<key>NewGame</key>
	<dict>
		<key>BoardSize</key>
		<integer>0</integer>
		<key>BlackPlayer</key>
		<integer>0</integer>
		<key>WhitePlayer</key>
		<integer>1</integer>
		<key>Handicap</key>
		<integer>0</integer>
		<key>Komi</key>
		<real>6.5</real>
	</dict>
	<key>PlayerList</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Human player</string>
			<key>IsHuman</key>
			<true/>
			<key>Statistics</key>
			<dict>
				<key>GamesPlayed</key>
				<integer>0</integer>
				<key>GamesWon</key>
				<integer>0</integer>
				<key>GamesLost</key>
				<integer>0</integer>
				<key>GamesTied</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>Fuego</string>
			<key>IsHuman</key>
			<false/>
			<key>Statistics</key>
			<dict>
				<key>GamesPlayed</key>
				<integer>0</integer>
				<key>GamesWon</key>
				<integer>0</integer>
				<key>GamesLost</key>
				<integer>0</integer>
				<key>GamesTied</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
